%ul
  %li.first= link_to 'Meine Daten', profile_examiners_path
%ul
  %li= link_to 'Vereinsverwaltung', examiners_organization_unit_path
%ul
  %li
    .nolink Leistungsverwaltung
    %span
      = link_to 'Leistungen erfassen', index_new_examiners_performances_path
      = link_to 'Leistungen editieren', edit_examiners_performances_path
%ul
  %li= link_to 'Leistungsdaten', disciplines_path
%ul
  %li= link_to 'Statistiken', root_url
%ul
  %li.last
